{% extends "base.html" %}
{% block content %}


<script type="text/javascript">
	
	Shadowbox.init({
    skipSetup: true,
    overlayColor : "#000",
});
	

$(document).ready(function() {
  // Code adapted from http://djangosnippets.org/snippets/1389/

  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    if (formCount > 1) {
      // Delete the item/form
      $(btn).parents('.item').remove();

      var forms = $('.item'); // Get all the forms

      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          updateElementIndex(this, prefix, i);
        });
      }

    } // End if
    else {
        alert("Θα πρέπει να υπάρχει τουλάχιστον ένα δεδομένο εισόδου ή εξόδου");
    }
    return false;
  }
  
	function hello() {
        alert("Hello");
    }

  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    // You can only submit a maximum of 10 todo items 
    if (formCount < 20) {
      // Clone a form (without event handlers) from the first form
      //var row = $(".item:first").clone(true).prop({ id: "newId", name: "newName"}).get(0);
      var row = $(".item:first").clone(true).attr('id','item'+formCount);
      
      //Set ids to new elements
      $('#id_form-0-data_type', row).attr( { id: "id_form-"+formCount+"-data_type", name : formCount+"-data_type" } );
      $('input', row).attr({id: "id_form-"+formCount+"-name" , name : formCount+"-name" });  
      $('#id_form-0-domain', row).attr({id: "id_form-"+formCount+"-domain" , name : formCount+"-domain" });
      $('textarea', row).attr({id: "id_form-"+formCount+"-description" , name : formCount+"-description" });
      
      //Set null values to new elements
      $('textarea', row).val('');
      $('input', row).val('');
      

      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);
      
      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass('error');
      
      // Relabel/rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        if ( $(this).attr('type') == 'text' )
          $(this).val('');
      });
      
      // Add an event handler for the delete item/form link 
      $(row).find('.delete').click(function() {
        return deleteForm(this, prefix);
      });
      
      $(row).on("change", ".id_form-"+formCount+"-data_type" ,function() {
		  console.log('here');
        insert_values_to_forms(this.id.match(/\d+/g),this.value);
      });

      // Update the total form count
      $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
      //formCount

    } // End if
    else {
      alert("Μπορείτε να βάλετε συνολικά μέχρι 20 εγγραφές.");
    }
    return false;
  }

  // Register the click event handlers
  $("#add").click(function() {
    return addForm(this, 'form');
  });
  
  $(".delete").click(function() {
    return deleteForm(this, 'form');
  });
  
  
  
  // event handler for dropdown change
  $("#id_form-0-data_type").on('change', function() {
	  
	  console.log(this.id); // form id (px. id_form-0-input)
	  console.log(this.value); // form value (px. Application_Input)
	  console.log ( this.id.match(/\d+/g) );
	  insert_values_to_forms(this.id.match(/\d+/g),this.value); // send the number value from id_form-0-input (0) to find which form selected user
	  
	});
	

function insert_values_to_forms(id,value)
{
	var flag = 0;
	if ( value == "Profile_Input" )
	{ 
		var data = {{profile_data|safe}};
		var content = "<center> <br> <br> Επιλέξτε ποιο πεδίο του profile επιθυμείτε από την παρακάτω λίστα: <br> <br>";
		flag = 1;

	}else if ( value == "Application_Input" )
	{
		var data = {{app_data|safe}};
		var content = "<center> <br> <br>Επιλέξτε ποιο παραγόμενο δεδομένο σας ταιριάζει: <br> <br>";
		flag = 2;
		
	}else if ( value == "User_Input" || value == "Output" )
	{
		selected_values(-1,id,flag);
	}

	// create pop up window with data 
	for ( var i=0; i< data.length;i++)
	{
		var sample = String(data[i]);
		if ( value == "Application_Input" )
			sample = sample.split(",")[1];
		content += "<h4 onclick='selected_values("+i+","+id+","+flag+")'> "+sample+"</h4> "
	}
		content += "</center>";
		
		Shadowbox.open({
        content:    content,
        player:     "html",
        title:      "Επιλέξτε δεδομένο",
        height:     600,
		width:      800
		});
		
	 
}// end of function insert_values_to_forms
	
});
	


function selected_values(i,id,flag)
{
	console.log('in select values '+id+' '+i+' '+flag);
	if ( flag == 1)
	{ 
		var profile_data = {{profile_data|safe}};
		document.getElementById('id_form-'+id+'-name').value = profile_data[i];
		document.getElementById('id_form-'+id+'-domain').selectedIndex=4;
		document.getElementById('id_form-'+id+'-description').value = "Το δεδομένο "+profile_data[i]+" από το προφίλ του χρήστη";
		Shadowbox.close();

	}else if ( flag == 2)
	{
		var profile_data = {{app_data|safe}};
		document.getElementById('id_form-'+id+'-name').value = String(profile_data[i]).split(",")[1];
		document.getElementById('id_form-'+id+'-domain').selectedIndex= String(profile_data[i]).split(",")[3];
		document.getElementById('id_form-'+id+'-description').value = String(profile_data[i]).split(",")[2];
		Shadowbox.close();
		
	}else if ( flag == 0)
	{
		document.getElementById('id_form-'+id+'-name').value = '';
		document.getElementById('id_form-'+id+'-domain').selectedIndex='';
		document.getElementById('id_form-'+id+'-description').value = "";
	}
	

}
</script>




<div class="row" id="left-content">
	<div class="col-xs-6 col-md-4" >

		<h1>Δημιουργία εφαρμογής</h1><br>
		<form action="" method="POST">{% csrf_token %}

		<table id="first-table"> 
			{% for field in app_form %}
				<tr> <td> {{ field.label}}: </td>  <td> {{ field}} </td>  </tr>
				<tr>  <td>  </td> <td>  {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %} </td>  </tr>
			{% endfor %}
		 <tr> <td> </td> <td> <button class="btn btn-success" type="submit">Αποθήκευση </button> </td> </tr>
		</table>
		<br>

	</div>

	<div class="col-xs-6 col-md-5">
		<h2>Δεδομένα</h2>
		{{ app_data_formset.management_form }}
		{% for form in app_data_formset.forms %}
		<div class ="item" >
			 <table id="table"> 

				{% for field in form %}
					 
					 <tr> <td> {{ field.label}}: </td>  <td> {{ field}} </td>  </tr>
					 <tr>  <td>  </td> <td>  {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %} </td>  </tr>
				{% endfor %}
			  </table>
			  <a  class="delete btn btn-danger" href="#">Διαγραφή</a>

		</div>

		{% endfor %}

		<a class="btn btn-success" id="add" href="#">Προσθήκη Δεδομένου</a>

		</form>
	<div/>
<div/>
{% endblock %}
